<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>

<body>
	<form action="create" method="post">
		<h3>FORM</h3>

		<div>
			<label for="title">Title</label>
			<input name="title" id="title" type="text">
		</div>

		<div>
			<label for="year">Year</label>
			<input name="year" id="year" type="number">
		</div>
		
		<input name="id" type="hidden" value="0">
		
		<div>
			<button>CREATE</button>
		</div>

	</form>
</body>